.box-list {
    margin-top: 12px;
    margin-bottom: 12px;
}
.product-box-variable-buy {
    padding-top: 3px;
    padding-bottom: 3px;
}
.attr {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    width: 32px;
    height: 32px;
    border: 1px solid #1a1a1a;
    line-height: 32px;
    transition: all .5s ease;
}
.status-off .attr {
    color: #888888;
    border: 1px solid #888888;
}
.status-off {

}
.box-list .box {
    width: 100%;
    display: flex;
    align-items: center;
    transition: all .5s ease;
    background-color: rgba(0,0,0,0);
}

.box-list.active .box {
    background-color: #018849;
    color: #fff;
}
.box-list.active .attr {
    border: 1px solid rgba(0,0,0,0);
    color: #fff;
}
.box-list svg {
    margin-right: 8px;
}
.box-list svg, .box-list svg * {
    fill: #018849;
}
.box-list.active svg, .box-list.active svg * {
    fill: #fff;
}
.box-list.status-off svg, .box-list.status-off svg * {
    fill: #888888;
}

.desc-product-link a {
    display: flex;
    color: #888888;
    align-items: center;
}
.desc-product-link a img {
    margin-right: 6px;
}

.tab {

}
.tab .tab-title {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    padding-right: 20px;
    position: relative;
    min-height: 50px;
    display: flex;
    align-items: center;
}
.tab .tab-title:before {
    content: '';
    height: 1px;
    background-color: rgba(136,136,136,.2);
    display: block;
    position: absolute;
    left: -1000px;
    right: -1000px;
    top: 0;
}
.tab .tab-title .arrow {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: rotate(180deg);
    transition: all 0.5s ease;
}
.tab .tab-title.active .arrow {
    transform: rotate(0deg);
}
.tab .tab-title {
    cursor: pointer;
}
.tab .tab-text {
    height: 0;
    overflow: hidden;
    transition: all .3s ease;
}
.tab .tab-text:not(.active) {
    height: 0 !important;
}

.tab-text .box > div * {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.tab-text .box > div p {
    margin-bottom: 7px;
}
.table-desc .attributes {
    min-height: 52px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.table-desc .attributes:nth-child(odd) {
    position: relative;
}
.table-desc .attributes:nth-child(odd):before {
    background-color: rgba(136,136,136,.1);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1000px;
    right: -1000px;
    display: block;
}
.table-desc .attributes:before {
    content: '';
    display: block;
}
.attributes {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.box-content .tab-desc {
    margin-left: -16px;
    margin-right: -16px;
    width: calc(100% + 32px);
}

.box-content #tab-option-title,
.box-content #tab-option-text .attributes {
    padding-left: 16px;
    padding-right: 16px;
}
.box-content #tab-option-title .arrow {
    right: 16px;
}

.attributes .col-right {
    padding-left: 20px;
}
.attributes .col-right span:last-child span {
    display: none;
}

.reviews-box {

}
.reviews-box .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.reviews-box p.data {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    line-height: 1;
}
.reviews-box p.name {
    font-weight: 600;
    font-size: 16px;
    color: #1a1a1a;
    margin: 0;
    line-height: 1;
}

.boxContent {
    margin-top: 12px;
    margin-bottom: 12px;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
}
#tab-review-text .reviews-list {
    padding-top: 20px;
    padding-bottom: 0px;
}
.reviews-box .reviewsCom {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.reviews-box .reviewsCom span {
    color: #018849;
    font-size: 16px;
    font-weight: 400;
}
.reviewsCom img {
    margin-right: 11px;
}
.tab-text .BoxBtn {
    margin-top: 18px;
    padding-bottom: 15px;
}
.banner {
    position: relative;
}
.banner img {
    width: 100%;
}
.banner .content-banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}