.resultPrice {
    border-radius: 8px;
    background-color: rgba(136,136,136,.1);
    padding: 24px;
    overflow: hidden;
}

.resultPrice .box-result {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
}
.resultPrice span {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
}